 @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

 :root {
     --background:#16161a;
     --headline: #fffffe;
     --button-1: #5ac0f0;
     --button-2: #17f003;
     --button-3: #ff0000;
     --paragraph: #94a1b2;
    }
    
    *  {
       margin:0;
       padding:0;
       box-sizing: border-box;
    }


    body{
        font-family: "Kalam",sans-serif;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    img {
        width: 100%;
    }

    .container{
        max-width:900px;
        margin: 0 auto;
        padding: 0 20px;
        display:flex;
        justify-content: center;
        align-items: center;

        /** Center div vertically  */
        height: 100vh;
        
    }

    .counter-div {
        background: var(--background);
        color: var(--paragraph);
        border-radius: 15px;
        border:1px solid white; 
        padding:30px;
        width:40rem;
        text-align: center;
    }



    .counter-div > *{
        margin-bottom:2rem;
    }

   .number {
    font-size: 4rem;
   }

   .buttons button {
    padding:1rem;
    margin:0 1.5rem;
    border-radius: 2.5rem ;
    border:none;
    font-size:1rem;
    font-weight: 700;
   }

    button.subtract{
    background-color: var(--button-1);
   }
   button.reset {
    background-color: var(--button-2);
   }
   button.add {
    background-color: var(--button-3);
   }

    i {
    margin: 15px;
   }